html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* position: relative; */
}
.screen-one{
    height: 100vh;
    background-color: hotpink;
    text-align: center;
    color: white;
}
.screen-two{
    height:  100vh;
    background-color: rgb(255, 190, 190);
    text-align: center;
    color: white;
}

.center-section{
    position: absolute;
    top : 50%;
    left: 50%;
    transform    : translate(-50%, -50%);    
}