html,body{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background: #e7afa9;  /* fallback for old browsers */
    

    position: relative;
    
}

.container-fluid{
    padding: 100px;
    position: relative;
    /* height: 100vh; */
}
.screen-one{
    height: calc(100vh - 200px);
    background: #c0392b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: white;
    border-radius:  5% 0  0 5% ;
    border-right: 2px solid rgb(204, 105, 105);
}
.screen-two{
    height: calc(100vh - 200px);
    background: #c0392b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    color: white;
    border-radius: 0 5% 5% 0;
}


.new-game{
    position: absolute;
    bottom: 400px;
    width: 150px;
    left: 45%;
    height: 35px;
    background-color: rgb(253, 253, 253);
    text-align: center;
    border-radius: 50px ;
    padding-top: 5px;
    font-weight: bolder;
}

.dice{
    position: absolute;
    bottom: 200px;
    width: 150px;
    height: 35px;
    left: 45%;
    background-color: rgb(253, 253, 253);
    text-align: center;
    border-radius: 50px ;
    padding-top: 5px;
    font-weight: bolder;
}

.hold{
    position: absolute;
    left: 45%;
    bottom: 120px;
    width: 150px;
    height: 35px;
    background-color: rgb(253, 253, 253);
    text-align: center;
    border-radius: 50px ;
    padding-top: 5px;
    font-weight: bolder;
}

.score{
    background: linear-gradient(to top, #ff4433, #c04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
    border-radius: 50% 50% 0 0;
}
.dice,
.hold,
.new-game{
    transition: all 0.2s;
}

.dice:hover,
.hold:hover,
.new-game:hover{
    transform: scale(1.1);
    cursor: pointer;
}